.book {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.book img {
    width: 300px;
    height: 300px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

#results {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}


/* ---- input */
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    border: none;
    /* Removes the border */
    outline: none;
    /* Removes the default focus outline */
}


#searchButton {
    width: 100%;
    background-color: #4c84af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #3f6e92;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}